
@{
    ViewBag.Title = "首页";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav class="breadcrumb">
    <i class="Hui-iconfont"></i>
    首页
</nav>
<div class="page-container">
    <p class="f-20 text-success">欢迎使用接口管理平台</p>
</div>
