@using O2O.DTO
@model UserDTO
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <form action="/Test/Index" method="post">
            <input type="text" value="@Model.UserNo" name="user_no" />
            <input type="text" value="@Model.UserName" name="user_name" />
            <input type="submit" value="">
            <input type="text" value="@Model.UserName + @Model.UserNo" name="user_1" />

        </form>
    </div>
</body>
</html>
