
@{
    ViewBag.Title = "美团";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <nav class="breadcrumb">
        <i class="Hui-iconfont"></i>
        首页
        <span class="c-gray en">&gt;</span>
        美团
    </nav>
<div class="page-container">
    <p class="f-20 text-success">暂未开放</p>
</div>